{% extends "core/base.twig" %}

{% set headerBarbaBack = "true" %}

{% block main %}

  <section class="section blur-wrapper header-offset fixed top-0 left-0 w-full">
    <div class="container">

      <div class="row justify-between">

        <div class="col md:w-1/12 lg:w-3/12 xl:w-2/12 hidden md:block">
          <a onclick="history.back()" class="barba-back cursor-pointer pointer-events-auto">
            <img src="{{ currentSite.baseUrl }}/dest/images/back-arrow.svg" alt="">
          </a>
        </div>

      </div>

    </div>
  </section>

  <section class="section blur-wrapper relative header-offset pointer-events-none">
    <div class="container">

      <div class="row">
        <div class="col md:w-7/12 md:ml-5/12 lg:w-6/12 lg:ml-3/12">

          <p class="text-sm mb-2">Information</p>

          <div class="mb-12">
            {{ entry.information }}
          </div>
{# 
          <p class="text-sm mb-2">2020</p>
          <ul class="mb-12 opacity-50">
            {% for event in entry.events %}
              {% if event.year == 2020 %}
              <li class="my-4">{{ event.description }}</li>
              {% endif %}
            {% endfor %}
          </ul> #}

          <p class="text-sm mb-2">2019</p>
          <ul class="mb-12 opacity-50">
            {% for event in entry.events %}
              {% if event.year == 2019 %}
              <li class="my-4">{{ event.description }}</li>
              {% endif %}
            {% endfor %}
          </ul>

          <p class="text-sm mb-2">2018</p>
          <ul class="mb-12 opacity-50">
            {% for event in entry.events %}
              {% if event.year == 2018 %}
              <li class="my-4">{{ event.description }}</li>
              {% endif %}
            {% endfor %}
          </ul>

          <p class="w-8/12">
            Copyright © 2019 Studio Hongjie Yang. All rights reserved. Any unauthorised resale, distribution, public display or duplication of any image or idea is a violation of all applicable laws and is subject to prosecution.
          </p>
        </div>
      </div>

    </div>
  </section>

{% endblock %}
