{% extends "core/base.twig" %}

{% set barbaNamespace = "object" %}

{% set headerBarbaBack = "true" %}

{% set barbaBackPath = "/index" %}

{% block main %}

  <section class="header-offset-extra blur-wrapper relative md:fixed w-full top-0 left-0 z-10">
    <div class="container">
      {# <div class="row">
        <div class="col w-3/12 pb-12 hidden lg:block">
          <a onclick="history.back()" class="barba-back cursor-pointer">
            <img src="{{ currentSite.baseUrl }}/dest/images/back-arrow.svg" alt="">
          </a>
        </div>
      </div> #}
      <div class="row">
        <div class="col w-1/12 lg:w-full pb-12 hidden md:block">
          <a href="{{ currentSite.baseUrl }}/index" class="barba-back cursor-pointer">
            <img src="{{ currentSite.baseUrl }}/dest/images/back-arrow.svg" alt="">
          </a>
        </div>
        <div class="col w-10/12 ml-1/12 md:w-4/12 md:ml-0 md:mr-7/12 md:ml-0 lg:w-3/12 lg:mr-0">
          <div class="py-8 md:pb-16 md:pt-0 lg:py-0 lg:flex lg:justify-end lg:mr-16">
            <ul>
              <li class="text-sm mb-2">
                {{ entry.projectTitle.one().title }}
              </li>
              <li class="text-2xl">
                {{ entry.referenceNumber }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col w-10/12 ml-1/12 md:w-4/12 lg:ml-0 lg:w-3/12 lg:ml-6/12">
          <div class="lg:flex lg:justify-start lg:ml-16">
            <ul class="">
              <li class="text-sm mb-2">Specifications</li>
              <li class="opacity-25">
                {{ entry.category.one().title }}
                {% if entry.categoryDetails != "" %}
                  {{ entry.categoryDetails }}
                {% endif %}
              </li>
              <li class="opacity-25">{{ entry.material }}</li>
              <li class="opacity-25">{{ entry.dimensions[0].height }}cm *
                {{ entry.dimensions[0].width }}cm *
                {{ entry.dimensions[0].depth }}cm</li>
              {# <li class="opacity-25">{{ dump(entry.dimensions[0].height) }}</li> #}
              <li class="opacity-25">{{ entry.referenceNumber }}</li>
              <li class="opacity-25">Edition
                {{ entry.edition[0].title }}</li>
              <li class="mt-8 underline">
                <a href="mailto:info@hongjieyang.nl">inquiry</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section blur-wrapper header-offset">
    <div class="container">

      <div class="row">

        <div class="w-full md:px-4 md:w-7/12 md:ml-5/12 lg:w-6/12 lg:mx-auto">

          {% include "components/image.twig" with {
            image : entry.featuredImage.one()
          } %}

          <div class="mt-12 px-4 md:px-0">
            <p class="text-sm mb-2">Story</p>
            <p>
              {{ entry.description|nl2br }}
            </p>
          </div>

          {% for item in entry.images.all() %}
            <div class="my-12">
              {% include "components/image.twig" with {
                image : item
              } %}
            </div>
          {% endfor %}
        </div>

      </div>

    </div>
  </section>

{% endblock %}