{% extends "core/base.twig" %}

{% set barbaNamespace = "object" %}

{% block main %}

  <section class="header-offset fixed w-full top-0 left-0 z-10">
    <div class="container">
      <div class="row pb-12">
        <div class="col w-3/12">
          <a onclick="history.back()" class="barba-back cursor-pointer">
            <img src="{{ currentSite.baseUrl }}/dest/images/back-arrow.svg" alt="">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col w-3/12">
          <div class="flex justify-end mr-16">
            <ul>
              <li class="text-sm mb-2">
                {{ entry.projectTitle.one().title }}
              </li>
              <li class="text-2xl">
                {{ entry.referenceNumber }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col w-3/12 ml-6/12">
          <div class="flex justify-start ml-16">
            <ul class="">
              <li class="text-sm mb-4">Specifications</li>
              <li class="opacity-25">{{ entry.category.one().title }}</li>
              <li class="opacity-25">{{ entry.material }}</li>
              <li class="opacity-25">{{ entry.referenceNumber }}</li>
              <li class="opacity-25">Edition
                {{ entry.edition[0].title }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section header-offset">
    <div class="container">

      <div class="row">

        <div class="col w-6/12 mx-auto">

          {% include "components/image.twig" with {
            image : entry.featuredImage.one()
          } %}

          <div class="mt-12">
            <p class="text-sm mb-4">Story</p>
            <p>
              {{ entry.description|nl2br }}
            </p>
          </div>

          {% for item in entry.images.all() %}
            <div class="my-12">
              {% include "components/image.twig" with {
                image: item
              } %}
            </div>
          {% endfor %}
        </div>

      </div>

    </div>
  </section>

{% endblock %}