{# Default page #}

{% extends "core/base.twig" %}

{% set barbaNamespace = "home" %}

{% block main %}

  {% set objects = craft.entries.section("objects").all() %}
  {% set projectCategories = craft.categories.group("projects").all() %}

  {% set backgroundSources = [] %}

  {% set placeholder = false %}

  {% for item in projectCategories %}
    {% set break = false %}

    {% for entry in objects if entry.projectTitle.one().title == item.title and not break %}
      {% set imageSource = entry.featuredImage.one() %}
      {% if entry.landingImage.one() %}
        {% set imageSource = entry.landingImage.one() %} 
      {% endif %}
      
      {% set backgroundSources = backgroundSources | merge([
        {
          src: imageSource.url("fw"),
          title: entry.projectTitle.one().title
        }
      ]) %}
      {% if not placeholder %}
        {% set placeholder = imageSource.url("fw") %}
      {% endif %}
      
      {% set break = true %}
    {% endfor %}

  {% endfor %}

  <section class="min-h-screen blur-wrapper">
    <div class="background-placeholder absolute inset-0" style="background-image: url({{ placeholder }})">
    </div>

    <div class="background-swapper absolute inset-0">
      <div class="from"></div>
      <div class="to"></div>
    </div>

    <div class="background-loader invisible h-0 overflow-hidden">
      {% for source in backgroundSources %}
        <img class="background-source" src="{{ source.src }}" alt="">
      {% endfor %}
    </div>
  </section>

  <section class="section blur-wrapper header-offset-extra fixed top-0 left-0 w-full">
      <div class="container">
        <div class="row justify-between">
          
          <div class="col">
            <p class="text-sm mb-2">Specimen</p>
            <ul>
            <li>
              <a href="{{ siteUrl }}index">All</a>
            </li>
              {% for item in projectCategories %}
                {% set counter = 0 %}
                {% for entry in objects if entry.projectTitle.one().title == item.title %}
                  {% set counter = counter + 1 %}
                {% endfor %}

                <li class="leading-relaxed">
                  <a href="{{ siteUrl }}index?project={{ item.slug }}" data-toggle-background="{{ loop.index0 }}">

                    {{ item.title }}
                    {% if counter > 0 %}
                      <span class="absolute text-xs ml-1">{{ counter }}</span>
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>

        </div>
      </div>
    </section>

  {# <section>
    <div class="container">
      <div class="row mt-40">
        <div class="col">
          <p class="text-sm mb-2">Specimen</p>
          <ul>
            {% for item in projectCategories %}
              {% set counter = 0 %}
              {% for entry in objects if entry.projectTitle.one().title == item.title %}
                {% set counter = counter + 1 %}
              {% endfor %}

              <li class="leading-relaxed">
                <a href="{{ siteUrl }}index?project={{ item.slug }}" data-toggle-background="{{ loop.index0 }}">

                  {{ item.title }}
                  {% if counter > 0 %}
                    <span class="absolute text-xs ml-1">{{ counter }}</span>
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section> #}

{% endblock %}

{% block scripts %}
  <script src="{{ currentSite.baseUrl }}/dest/js/landing.js"></script>
{% endblock %}
