{% if image %}

{% set orientation = image.assetOrientation.value %}

{% set transforms = [
  {handle: 'md', width:640}, 
  {handle: 'lg', width:1024}, 
  {handle: 'xl', width:1600}, 
  {handle: 'fw', width:2560}, 
  ] %}
{% set srcset = [] %}

{# if output width is smaller than or equal to the original image width #}
{% for transform in transforms %}
  {% if transform.width <= image.width %}
    {% set srcset = srcset|merge([siteUrl ~ image.url(transform.handle) ~ ' ' ~ transform.width ~ 'w']) %}
  {% endif %}
{% endfor %}

{# output srcset #}

<figure class="{% if orientation is not null %}{{ orientation }}{% else %}portrait{% endif %}">
  <img src="{{ siteUrl }}{{ image.url() }}" srcset="{{ srcset|join(', ') }}" sizes="50vw" alt="">
</figure>

{% else %}

<figure class="{% if imageSize is defined %}{{ imageSize }}{% else %}portrait{% endif %}">
  <div class="block bg-red" style="padding-top: 100%"></div>
</figure>

{% endif %}