{% set footerWidget = craft.globalSets().handle("footer").one() %}

<div id="footer" class="footer-wrapper relative z-50 text-sm ">
{# <div id="footer" class="footer-wrapper blur-wrapper relative z-40 text-sm "> #}

  <footer class="section footer-main">
    <div class="container">
        {% block footer %}
{# 
        <pre>
          {{ dump(footerWidget) }}
        </pre> #}

      {% if footerWidget is defined %}
          <div class="row">
            <div class="col w-full mb-10 md:w-6/12 lg:w-2/12 lg:ml-1/12 lg:mb-0">
              {{ footerWidget.contact|raw }}
            </div>
            <div class="col w-full mb-10 md:w-6/12 lg:w-2/12 lg:ml-1/12 lg:mb-0">
              {{ footerWidget.services1|raw }}
            </div>
            <div class="col w-full mb-10 md:w-6/12 lg:w-2/12 lg:ml-1/12 lg:mb-0">
              {{ footerWidget.services2|raw }}
            </div>
            <div class="col w-full mb-10 md:w-6/12 lg:w-2/12 lg:ml-1/12 lg:mb-0">
              {{ footerWidget.social|raw }}
            </div>
          </div>
      {% endif %}

          <div class="row">
      <div class="col w-full mt-4 md:w-6/12 lg:ml-1/12">
        <p>Copyright &copy; 2019 Studio Hongjie Yang</p>
      </div>
    </div>

        {% endblock %}


    </div>
  </footer>

</div>