<header class="section header-main header-unpin z-50">
  <div class="container">

    {% block header %}

      <div class="flex justify-between items-center" role="navigation">
        <div class="branding w-2/12 md:w-4/12">
          {% if barbaBackPath is defined %}

            <a href="{{ currentSite.baseUrl ~ barbaBackPath }}" class="header-barba-back barba-back cursor-pointer md:hidden" data-barba-back="">
              <img src="{{ currentSite.baseUrl }}/dest/images/back-arrow-small.svg" alt="">
            </a>

          {% else %}

            <a onclick="history.back()" class="header-barba-back barba-back cursor-pointer md:hidden" data-barba-back="">
              <img src="{{ currentSite.baseUrl }}/dest/images/back-arrow-small.svg" alt="">
            </a>

          {% endif %}

          <a class="close-menu hidden md:inline" href="{{ siteUrl }}">
            <img class="w-auto h-4" src="{{ siteUrl }}/dest/images/logo.svg" alt="">
          </a>
        </div>

        <div class="blur-wrapper lg:hidden">
          <div class="filter-toggle mx-4 block disabled">filter</div>
        </div>

        <div class="w-2/12 md:w-4/12 flex justify-end lg:justify-center">
          <div class="burger toggle-menu relative z-50">
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="hidden lg:block w-4/12 text-right">
          <a class="close-menu" href="{{ siteUrl }}contact">
            contact
          </a>
        </div>
      </div>

    {% endblock %}

  </div>
</header>
