<header class="section header-main header-unpin z-50">
  <div class="container">

    {% block header %}

      <div class="flex justify-between items-center" role="navigation">
        <div class="branding w-6/12 h-4 relative md:w-4/12">
          {% if barbaBackPath is defined %}

            <a href="{{ currentSite.baseUrl ~ barbaBackPath }}" class="header-barba-back barba-back cursor-pointer md:hidden" data-barba-back="">
              <img src="{{ currentSite.baseUrl }}/dest/images/back-arrow-small.svg" alt="">
            </a>

          {% else %}

            <a onclick="history.back()" class="header-barba-back barba-back cursor-pointer md:hidden" data-barba-back="">
              <img src="{{ currentSite.baseUrl }}/dest/images/back-arrow-small.svg" alt="">
            </a>

          {% endif %}

          <div class="pr absolute inset-0">
            <a class="close-menu inline md:inline" href="{{ siteUrl }}">
              <img class="w-auto h-4" src="{{ currentSite.baseUrl }}/dest/images/logo.svg" alt="">
            </a>
          </div>
        </div>

        <div class="w-3/12 md:w-2/12 blur-wrapper lg:hidden text-center text-sm flex justify-end md:justify-center items-center">
          <div class="filter-toggle block disabled" style="padding-bottom: 2px;">filter</div>
        </div>

        <div class="w-3/12 md:w-4/12 flex justify-end lg:justify-center">
          <div class="burger toggle-menu relative z-50">
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="hidden lg:block w-4/12 text-right">
          <a class="close-menu" href="{{ siteUrl }}contact">
            contact
          </a>
        </div>
      </div>

    {% endblock %}

  </div>
</header>
